 body {
  background: #d3d8e2;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
 }
 
 .toolbar li {
  display: inline-block;
  padding-left: 15px;
  margin: 0;
 }
 
 .toolbar {
  padding-left: 10px;
 }
 
 ul li a {
  font-family: gill, sans-serif;
  font-size: 1em;
  color: #232323;
  font-weight: bold;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
  -ms-transition: All 0.3s ease;
  transition: All 0.3s ease;
 }
 
 ul li a:hover {
  color: #727004;
 }
 
 #musthead {
  display: flex;
  flex-flow: row wrap;
  position: fixed;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 50px;
  background-color: #d3d8e2;
 }
 
 h1 {
  margin-top: 5px;
  margin-right: 3%;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 2.3em;
  color: #232323;
 }
 
 #about h2 {
  position: relative;
  margin-top: 70px;
 }
 
 h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #232323;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
 }
 
 .main_image {
  top: 50px;
  background-image: url(../img/imgmain.jpg);
  margin: 0 auto;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
 }
 
 .about_block {
  width: 90%;
  margin: 0 auto;
  background-image: url(../img/imgtxt.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
 }
 
 .about_block .about_txt {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
 }
 
 .about_block p {
  padding: 60px 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 31px;
  color: #d3d8e2;
  text-shadow: 1px 2px 3px rgba(200, 20, 200, 0.4);
 }
 
 .music {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
 }
 
 .music iframe {
  max-height: 100px;
  width: 90%;
  height: auto;
  margin: 10px 0;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
 }
 
 .video iframe {
  min-height: 400px;
  border: none;
  width: 90%;
  height: auto;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
 }
 
 .feedback {
  width: 40%;
  margin: 20px auto;
 }
 
 .feedback .client_info {
  position: relative;
 }
 
 .feedback .client_info label {
  position: absolute;
  top: 5px;
  left: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  transition: all .3s ease-in-out;
  color: #969696;
  font-weight: 100;
 }
 
 .feedback input {
  display: block;
  margin: 20px auto;
  width: 90%;
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 2px solid #969696;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #232323;
  background-color: inherit;
 }
 
 .feedback input:focus+label,
 .feedback textarea:focus+label,
 .feedback input:valid+label,
 .feedback textarea:valid+label {
  font-size: 15px;
  top: -15px;
 }
 
 .feedback textarea {
  display: block;
  width: 91%;
  margin: 20px auto;
  padding: 5px 0;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 2px solid #969696;
  resize: vertical;
  background-color: inherit;
 }
 
 .btn {
  width: 150px;
  height: 40px;
  background-color: inherit;
  margin: 20px auto;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #232323;
  padding: 0 0;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
 }
 
 .btn:hover {
  background-color: #9db79f;
 }
 