 body {
  background: #d3d8e2;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
 }
 
 #home nav {
  max-width: 1280px;
  margin: 0 auto;
 }
 .navbar-brand{
  padding: 0;
 }
 
 .nav li a {
  padding: 16px 9px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: none;
 }
 .container-fluid {
  max-width: 1280px;
  margin: 0 auto;
  /*padding: 0;*/
  background-color: #d3d8e2;
  box-shadow: none;
 }
 
 .container-fluid img {
  width: auto;
  height: 34px;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 8px;
  right: 5px;
  display: block;
 }
 
 .gallery-container {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
 }

 h1 {
  margin-top: 5px;
  margin-right: 3%;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 2.3em;
  color: #232323;
 }
 
 #about h2 {
  position: relative;
  margin-top: 70px;
  margin-bottom: 20px;
 }
 
 h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #232323;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
 }
 
 .main_image {
  top: 50px;
  background-image: url(../img/imgmain.jpg);
  margin: 0 auto;
  -webkit-background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
 }
 
 .about_block {
  width: 90%;
  margin: 0 auto;
  background-image: url(../img/imgtxt.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
 }
 
 .about_block .about_txt {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
 }
 
 .about_block p {
  padding: 60px 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 31px;
  color: #d3d8e2;
  text-shadow: 1px 2px 3px rgba(175, 212, 214, 0.1);
 }
 
 .music {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
 }

 
 .music iframe {
  max-height: 100px;
  width: 90%;
  height: auto;
  margin: 10px 0;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
 }
 
 .video iframe {
  min-height: 400px;
  border: none;
  width: 90%;
  height: auto;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
 }
  #video h2{
  margin-top: 10px;
  margin-bottom: 20px;
 }
  #gallery h2{
  margin-top: 10px;
  margin-bottom: 20px;
 }
 
 .feedback {
  width: 40%;
  margin: 20px auto;
 }

 .feedback .client_info {
  position: relative;
 }
 
 .feedback .client_info label {
  position: absolute;
  top: 5px;
  left: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  transition: all .3s ease-in-out;
  color: #9db79f;
  font-weight: 100;
 }
 
 .feedback input {
  display: block;
  margin: 20px auto;
  width: 90%;
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 2px solid #9db79f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #232323;
  background-color: inherit;
 }
 
 .feedback input:focus+label,
 .feedback textarea:focus+label,
 .feedback input:valid+label,
 .feedback textarea:valid+label {
  font-size: 15px;
  top: -15px;
 }
 
 .feedback textarea {
  display: block;
  width: 91%;
  margin: 20px auto;
  padding: 5px 0;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 2px solid #9db79f;
  resize: vertical;
  background-color: inherit;
 }
 
 .btn {
  border: 1px solid #9db79f;
  width: 150px;
  height: 40px;
  background-color: inherit;
  margin: 20px auto;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #232323;
  padding: 0 0;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
 }
 
 .btn:hover {
  background-color: #9db79f;
 }
 
 .carousel-inner img {
  margin: 0 auto;
 }
 
 .links img {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
 }
 
 .links img:hover {
  background-color: #9db79f;
 }
 